# Apache for "Don't look at me."
Options -Indexes
Options -MultiViews -Indexes
    RewriteEngine On
    RewriteBase /  
    RewriteCond %{HTTP_HOST} $ [NC]
    RewriteCond %{REQUEST_URI} !/public [NC]
    RewriteRule (.*?)index\.php/*(.*) public/$1$2 [R=301,NE,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /myapp-ci-doctrine/public/$1 [R=301,L]